body {
    background-image: url("background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;
    color: white;
}
img {
    border: 3px solid black;
    border-radius: 25px;
}
.bekezd {
    width: 60%;
    margin: 5px auto 5px auto;
    background-color: rgba(68, 68, 68, 0.7);
    padding: 10px;
    text-align: center;
    border-radius: 25px;
}
h1 {
    text-align: center;
}